{{> header}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<main>
    <div class="breadcrumb-wrapper">
        <div class="breadcrumb-container container">
            <div class="breadcrumb-row row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home mr-2"></i> Home</a>
                        <span style="color: black">/</span>
                        <span class="breadcrumb-login">Results</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="products-page-wrapper">
        <div class="products-page-container container">
            <div class="products-page-row row">
                <div class="col-lg-3">
                    <div class="products-page-sidebar sidebar-widgets">
                        <div class="sidebar-widget-category sidebar-widget">
                            <div class="widget-category-title sidebar-widget-title">
                                <h4>Category</h4>
                            </div>
                            <div class="widget-category-select">
                                <form action="/store/products-category">
                                    <select name="category_select" id="category">
                                        <option class="widget-category-select-option">Choose category</option>
                                        <option class="widget-category-select-option" value="Accessories">Accessories</option>
                                        <option class="widget-category-select-option" value="Clothes">Clothes</option>
                                        <option class="widget-category-select-option" value="Sporting goods">Sporting goods</option>
                                    </select>
                                    <button type="submit">Show</button>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget-sort sidebar-widget">
                            <div class="widget-sort-title sidebar-widget-title">
                                <h4>Sort by</h4>
                            </div>
                            <div class="widget-sort-checkbox">
                                <form action="/store/products-sort">
                                    <input class="widget-sort-checkbox-input" type="checkbox" id="widget-sort-checkbox-1" name="sort" value="sort_from_cheaper">
                                    <label class="widget-sort-checkbox-label" for="widget-sort-checkbox-1">Sort from cheaper products </label>

                                    <input class="widget-sort-checkbox-input" type="checkbox" id="widget-sort-checkbox-2" name="sort" value="sort_from_expensive">
                                    <label class="widget-sort-checkbox-label" for="widget-sort-checkbox-2">Sort from expensive products </label>

                                    <input class="widget-sort-checkbox-input" type="checkbox" id="widget-sort-checkbox-3" name="sort" value="sort_a_z">
                                    <label class="widget-sort-checkbox-label" for="widget-sort-checkbox-3">Sort A-Z </label>

                                    <input class="widget-sort-checkbox-input" type="checkbox" id="widget-sort-checkbox-4" name="sort" value="sort_z_a">
                                    <label class="widget-sort-checkbox-label" for="widget-sort-checkbox-4">Sort Z-A </label>

                                    <input class="widget-sort-checkbox-input" type="checkbox" id="widget-sort-checkbox-5" name="sort" value="most_visited">
                                    <label class="widget-sort-checkbox-label" for="widget-sort-checkbox-5">The most popular </label>
                                    <button type="submit">Sort</button>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget-state sidebar-widget">
                            <div class="widget-state-title sidebar-widget-title">
                                <h4>State</h4>
                            </div>
                            <div class="widget-state-checkbox">
                                <form action="/store/products-state">
                                    <input class="widget-state-checkbox-input" type="checkbox" id="widget-state-checkbox-1" name="state_product" value="Used">
                                    <label class="widget-state-checkbox-label" for="widget-state-checkbox-1">Used</label>

                                    <input class="widget-state-checkbox-input" type="checkbox" id="widget-state-checkbox-2" name="state_product" value="New">
                                    <label class="widget-state-checkbox-label" for="widget-state-checkbox-2">New</label>
                                    <button type="submit">Show</button>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget-price sidebar-widget">
                            <div class="widget-price-title sidebar-widget-title">
                                <h4>Price</h4>
                            </div>
                            <div class="widget-price-input">
                                <form action="/store/products-price-range">
                                    <label class="widget-price-input-label">From</label>
                                    <input class="widget-price-input-input" type="number" id="price_from" name="price_from">
                                    <label class="widget-price-input-label">To</label>
                                    <input class="widget-price-input-input" type="number" id="price_to" name="price_to">
                                    <button type="submit">Filter</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="products-page-items">
                        <div class="products-list">
                            <div class="products-cards">
                                {{#each productCategory}}
                                    <div class="product-card">
                                        <div class="card-img">
                                            <img src="{{ imagePath }}" alt="#">
                                        </div>
                                        <div class="card-body">
                                            <div class="card-title">
                                                <a href="/store/product/{{ this._id }}">{{ title }}</a>
                                            </div>
                                            <div class="card-price">
                                                <p class="product-card-price">{{ price }}$</p>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="card-button">
                                                <button><a href="/store/add-to-cart/{{ this._id }}">Add to Cart</a></button>
                                            </div>
                                            <div class="card-icons">
                                                <span><a href="#"><i style="color: black" class="far fa-heart"></i></a></span>
                                                <span><i class="fas fa-store-alt"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{{> footer}}