{{# each products }}
    {{# each this }}
        {{ this.imagePath }}
        {{ this.title }}
        {{ this.category }}
        {{ this.description }}
        {{ this.price }}
        <a href="/store/add-to-cart/{{ this._id }}" role="button">Add to Cart</a>
    {{/each}}
{{/each}}