<h1>Shopping Cart</h1>
{{# if products }}
    {{# each products }}
        {{ this.quantity }}
        {{ this.item.title }}
        {{ this.price }}
    {{/each}}
    <p><strong>Total: {{ totalPrice }} </strong></p>
    <a type="button" href="/store/checkout">Checkout</a>
    {{ else }}
    <p>NO ITEMS IN SHOPPING CART</p>
{{/if}}