{{> header}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<main>
    <div class="breadcrumb-wrapper">
        <div class="breadcrumb-container container">
            <div class="breadcrumb-row row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home mr-2"></i> Home</a>
                        <span style="color: black">/</span>
                        {{#each singleUserProduct}}<span class="breadcrumb-login">{{ title }}</span>{{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="product-page-wrapper">
        <div class="product-page-container container">
            <div class="product-page-row row">
                {{#each singleUserProduct}}
                    <div class="col-lg-5">
                        <div class="product-page-left-container">
                            <div class="product-page-left-img">
                                <img src="{{ imagePath }}" alt="">
                            </div>
                {{/each}}
                            <hr>

                {{#each userProductInfo}}
                    <div class="product-page-left-user-info">
                            <h3>User:</h3>
                            <h4>{{ firstName }} {{ lastName }}</h4>
                            <h3>Phone number:</h3>
                            <h4>{{ phone }}</h4>
                    </div>
                    <hr>
                {{/each}}
                        </div>
                    </div>
                {{#each singleUserProduct}}
                    <div class="col-lg-6">
                        <div class="product-page-right-container">
                            <div class="product-page-right-title">
                                <h2>{{ title }}</h2>
                            </div>
                            <div class="product-page-right-available">
                                <span>in stock</span> <i class="fas fa-user"></i>
                            </div>
                            <div class="product-page-right-price">
                                <h3>{{ this.price }}$</h3>
                            </div>
                            <div class="product-page-right-description">
                                <h4>Description</h4>
                                <p>{{ description }}</p>
                            </div>
                            <div class="product-page-right-category">
                                <h4>{{ category }}</h4>
                            </div>
                            <div class="product-page-right-btn">
                                <a class="product-page-right-btn-add-to-cart" type="button" href="#">
                                    Contact the seller to purchase
                                </a>
                                <input type="hidden" name="id" value="{{ user }}">
                            </div>
                        </div>
                    </div>
{{/each}}
            </div>
        </div>
    </section>

</main>

{{> footer }}